 body{
    box-sizing: border-box;
    margin: 0;
    width:fit-content;
    margin: auto;
    align-items: center;
}

nav {
    width: 36px;
    height: 20px;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 10px;
    gap: 0px;
    opacity: 0px;
    
}

.link{
font-family: "Montserrat","sans-serif";
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: rgba(159, 178, 255, 1);

}

img{
width: 17rem;
height: 17rem;
margin-top: 0.5rem;
margin-left: 2rem;
gap: 0px;
opacity: 0px;

}

.heading{
width: 10rem;
height: 2rem;
top: 20rem;
margin-left: 0.5rem;
gap: 0px;
opacity: 0px;
font-weight: bold;
font-family: "Montserrat","sans-serif";
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;

}
p{
font-family: "Montserrat";
font-size: 1rem;
font-weight: 500;
line-height: 19.5px;
text-align: left;

}
.para-layout{
width: 343px;
height: 60px;
top: 538px;
margin-left: 8px;
gap: 0px;
opacity: 0px;
color: rgb(118, 114, 114);

}

footer{
    height: 100px;
    width: 100px;width: 60px;
    height: 60px;
    top: 696px;
    left: 299px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}
.next-btn img{
    height: 60px;
    width: 60px;
    margin-left: 270px;
    margin-top: 150px;
}

.image2 img{
width: 352px;
height: 234px;

}

.next-btn1 img{
    height: 60px;
    width: 60px;
    margin-left: 270px;
    margin-top: 150px;
   
}

.register-h{

margin-top: 30px;
width: 180px;
height: 23px;
top: 68px;
margin-left: 16px;
gap: 0px;
/* opacity: 0px; */
}

.register-h p{

font-family: "Roboto","sans-serif";
font-size: 20px;
font-weight: 300;
line-height: 23.44px;
text-align: left;
}

.form1{
    margin-top: 15px;
    display: flex;
    flex-direction: column;


}
input{
width: 265px;
height: 45px;
margin-top: 12px;
margin-left: 16px;
gap: 0px;
border-radius: 12px;
opacity: 0px;
border: none;
background-color: rgb(235, 239, 244);
padding-left:25px;

}

.form1 .check{
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-left: 20px;
    /* margin-top: 14px; */
}

.form1 span{
    font-size: 12px;
    margin-top: 15px;
    color: rgba(127, 127, 127, 1);
}
.form1 div{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form1 a{
    color: lightskyblue;
}



button{
    width: 280px;
    height: 50px;
    margin-top: 100px;
    margin-left: 10px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background: linear-gradient(270deg, #7B91FF 0%, #95BEFF 100%);
    border: none;
    color: white;
    /* font-size: ; */
}
.create-btn{
font-family: "Montserrat","sans-serif";
font-size: 18px;
font-weight: 450;
line-height: 19.5px;
text-align: center;

}

body h3{
    text-align: center;
    margin:100px auto;
    margin-top: 20px;
    max-width: 550px;
    position: relative;
    color: rgb(143, 140, 140);

}
body h3:before {
background-color: rgb(221, 219, 219);
display: block;
width: 120px;
height: 2px;
content:"";
position: absolute;
left: 0;
top: 50%;
z-index: -1;

}
body h3:after{
    background-color: rgb(221, 219, 219);
    display: block;
    width: 120px;
    height: 2px;
    content:"";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    
    }
    
.icons
{
    margin-top: -70px;
    /* margin:auto; */
    display: flex;
    margin-left: 100px;
    margin-right: 70px;
}

.fa-icon{
    margin-left: 4px;
    justify-content: space-between;
    height: 20px;
    width: 20px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}
.login{
width: 200px;
height: 15px;
margin-top: 40px;
margin-left: 60px;
gap: 0px;
opacity: 0px;
font-family:" Montserrat","sans-serif";
font-size: 15px;
font-weight: 500;
line-height: 14.63px;
text-align: left;


}

.login a{
    color:lightskyblue;
}
.pwd{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 15px;
}
.login1{
    width: 300px;
    margin-top: 50px;
    margin-left: 20px;
}

.create1{
    margin-top: 200px;
}


.page1-head{
width: 219px;
height: 24px;
margin-top: 75px;
margin-left: 50px;
gap: 0px;
opacity: 0px;

}

.page1-head p{
font-family:" Montserrat","sans-serif";
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;


}
.list{
    margin-top: 40px;
}

.items{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    margin-top:50px ;
    /* border: 2px solid grey; */
    border-radius: 12px;
   background: rgba(241, 241, 241, 1);
    margin:auto;
    padding: 4px,5px,4px,5px;
    
    
    

}
.items span{
    margin-left: 10px; 
    margin-top: 13px; 
}

.items .check{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}


.item{
    margin-top: 20px;
}

.btn{
font-family: "Montserrat";
font-size: 18px;
font-weight: 200;
line-height: 19.5px;
text-align: center;
margin-top: 130px;

}

.track-nav{
    width: 343px;
    height: 100px;
    margin: auto;
    margin-top: -60px;
    /* display: flex; */

   
    
}
.track-btn{
    width: 22px;
    height: 22px;
    background: rgba(241, 241, 241, 1);
color: black;
    border-radius: 0px;
}
.track-nav span{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: black;
    margin-left: 50px;
    margin-top: 2px;

}

.tracker-b img{
   width: 343px;
   height: 110px;
    margin:auto;
margin-top: 60px;
}

.div1
{
 display: flex;
 width: 328.75px;
height: 50px;
margin-top: 40px;
margin-left: -10px;
gap: 10px;
border-radius: 10px;
border: 1.02px 0px 0px 0px;
opacity: 0px;
/* padding: auto; */
background: linear-gradient(90.07deg, rgba(129, 157, 255, 0.28) 5.94%, rgba(16, 16, 16, 0) 76.45%);

}
.tracker-main{
    display: flex;
    flex-direction: column;
}
.div2{
    margin-top: 30px;

}
.div1 i{
    margin-top: 10px;
    padding-left: 10px;
}
.div2 .s1{
   margin-right: 100px;
   /* margin-top: 600px; */
   font-family: "Montserrat" , "sans-serif";

font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;

}
.div2 .s2{
    font-family: "Montserrat";
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
/* text-align: left; */
margin-right: 20px;
color:  rgba(127, 127, 127, 1);
}

.div3{
    display: flex;
    margin-left: -20px ;
    margin-top: 20px;
    /* justify-content: space-between; */
    width: 343px;
height: 75px;
top: 428px;
left: 16px;
gap: 0px;
border-radius: 12px;
opacity: 0px;
/* background: rgb(235, 233, 233); */
box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.15);




}
.div3 img{
width: 60px;
height: 60px;
top: 441px;
left: 32px;
gap: 0px;
opacity: 0px;
border-radius: 50%;


}
.div3 .switch{
    width: 40px;
    height: 20px;
    top: 906px;
    margin-left: 6rem;
    gap: 0px;
    opacity: 0px;
    

}

.div3 .fa {
    margin-left: 100px;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.div3 p{
    font-family:" Montserrat";
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
text-align: left;
margin-left: 5px;
}

.div4{
    display: flex;
    margin-left: -20px ;
    margin-top: 20px;
    /* justify-content: space-between; */
    width: 343px;
height: 75px;
top: 428px;
left: 16px;
gap: 0px;
border-radius: 12px;
opacity: 0px;
/* background: rgb(235, 233, 233); */
box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.15);




}
.div4 img{
width: 60px;
height: 60px;
top: 441px;
left: 32px;
gap: 0px;
opacity: 0px;
border-radius: 50%;


}
.div4 .switch{
    width: 40px;
    height: 20px;
    top: 90px;
    margin-left: 6rem;
    gap: 0px;
    opacity: 0px;
    

}

.div4 .fa {
    margin-left: 100px;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.div4 p{
    font-family:" Montserrat";
font-size: 12px;
font-weight: 500;
line-height: 14.63px;
/* text-align: left; */
margin-left: 4px;
}

.div5{
    width: 225px;
    height: 20px;
    top: 611px;
    left: 17px;
    gap: 0px;
    opacity: 0px;
    

}
.div5 p{
font-family: "Montserrat";
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
}

.track-footer{
width: 343px;
height: 124px;
margin-top: 20px;
margin-left: -15px;
gap: 0px;
border-radius: 12px ;
opacity: 0px;
background: rgba(140, 177, 255, 0.6);
}
.div6{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}
.div6 img{
width: 90px;
height: 90px;
border-radius: 50px;
background-color: rgb(215, 215, 236);
margin-left: 120px;
}
.div6 p{
    margin-top: 10px;
    margin-left: 5px;
}

.div6 .p-small{
font-family: "Montserrat";
font-size: 13px;
font-weight: 500;
line-height: 12.19px;
text-align: left;
margin-top: -5px;


}

.div7{
    display: flex;
     width: 343px;
    height: 70px;
    margin-top: 65px;
    gap: 0px;
    opacity: 0px;
    background: white;
    position: fixed;
    /* border: 2px solid red; */
    /* display: inline-block; */
    z-index: 1;
    justify-content: space-evenly;
    padding-top: 10px;
    box-shadow:-4px 8px 25px -8px rgba(0, 0, 0, 0.15) ;
   
    
}

.div7 .fa{
    font-size: 30px;
    color: rgb(116, 113, 113);
}

li{
    list-style:none;
    margin-top: 10px;
    position: relative;
}

.div8{
    margin-top: 40px;
}


